@import 'normalize';
@import 'sprite';
@import 'slider';
@import 'popup';
@import 'video-js';
@import 'accordion';
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600&subset=latin-ext');

// colors
$french-rose: #eb3c86;

/*** Styles ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;

  font-family: Barlow;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  color: #ffffff;
  overflow-x: hidden;
}

body {
  background: 
    url(../images/background.png),
    #c7a07a;

  background-position: top center, center center;
  background-repeat: repeat-y, no-repeat;

  width: 100%;
  height: 100%;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.button {
  display: block;
  font-weight: 500;
  color: #fff;
  width: 300px;
  height: 60px;
  line-height: 60px;
  border-radius: 2px;
  background-color: #000;
  text-align: center;
}

button:disabled,
button[disabled],
.disabled {
  opacity: 0.3
}

a.button, a.button:visited {
  color: #fff;
  text-decoration: none;
}

.suprise-page {
  position: relative;
  height: 100%;

  .message {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    p.from {
      font-weight: 500;
    }
  }

  .jest-detail-link {
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
  }

  .jestiniyap-logo {
    @include sprite($jestiniyap-logo);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transform-origin: 0 0;
  }
}

.jest-details {
  position: relative;
  padding-top: 73px;
  text-align: center;
  max-width: 1008px;
  margin: 0 auto;

  > div {
    max-width: 375px;
    margin: 30px auto;
  }

  .title {
    width: 300px;
    margin-top: 0;
    font-size: 22px;
    line-height: 1.18;

    p.from {
      font-weight: 500;
    }

  }

  .card {
    width: 260px;
    font-size: 16px;
    line-height: 1.25;
    img {
      border-radius: 7px;
    }

    .jest-title {
      margin-top: 9px;
    }
  }

  .message {
    .message-info, .message-date {
      font-size: 16px;
      font-height: 1.25;
      color: #d8d8d8;
    }

    .message-content {
      width: 300px;
      margin: 22px auto 0;
      font-size: 18px;
      font-height: 1.11;
      font-weight: 500;
    }

    .photo {
      position: relative;
      margin-top: 12px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 400px; 
      min-height: 100px;
      border-radius: 12px;

      p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -3;
      }
      img {
        line-height: 0;
        margin: 0;
        border-radius: 12px;
      }
    }
    .video {
      margin-top: 12px; 
    }
  }

  .question {
    margin-bottom: 0;
    p {
      font-size: 22px;
      padding: 20px;
      margin: 0 auto;
      width: 260px;
    }
  }

  .ajax-success {
    background: #faaf35;
    margin: 0 auto;
    max-width: 375px;
    height: 60px;
    position: relative;
    p {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .options {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.jest-code {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    height: 111px;
    color: #000;
    padding: 31px 57px 30px 58px;

    p {
      font-size: 22px;
    }

    p.jest-code {
      font-weight: 500;
    }
  }

  .how-to-get-jest {
    background: #c59c6e;
    margin-top: 0;
    height: 150px;
    position: relative;

    > * {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .circle {
      border-radius: 50%;
      left: 25%;
      width: 96px;
      height: 96px;
      background-color: #fff;
      .present { 
        @include sprite($gift);
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: scale(0.37) translate(-50%, -60%);
        transform-origin: 0 0;
      }
    }

    a.open {
      text-decoration: none;
      color: #fff;
      text-align: left;
      font-size: 22px;
      font-weight: 600;
      width: 150px;
      left: 66%;
    }

  }

  .mest {
    p.label {
      font-size: 20px;
      font-weight: 400;
      width: 300px;
      padding: 0 30px;
      margin: 0 auto;
    }

    .button {
      margin: 13px auto 0;
    }
  }

  .jest-consumed {
    h3 {
      margin-bottom: 7px;
    }
  }

  .mobile-app {
    .jestiniyap-logo {
      @include sprite($jestiniyap-logo);
      margin: 50px auto;
    }

    p {
      font-size: 20px;
    }

    .jestiniyap {
      font-weight: 600;
    }

    .store {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      position: relative;

      .app-store {
        @include sprite($app-store); 
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 0 0;
        display: inline-block;
      }

      .divider {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 1px;
        height: 30px;
      }

      .google-play {
        @include sprite($google-play);
        position: absolute;
        left: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 0 0;
        display: inline-block;
      }
    }

    .phone {
      font-size: 16px;
    }
  }

  .bottom {
    margin: 0;
    height: 100px;
  }
}

